@font-face {
    font-family: 'glyphworldmountain';
    src: url('glyphworld-mountain-webfont.woff2') format('woff2'),
         url('glyphworld-mountain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  margin:5%;
  font-family: 'glyphworldmountain', cursive;
  overflow: auto;
  overflow-y: hidden;
}
p{width:610px;
font-size: 90%;}

img {
  float: left;
  width:24%;
}

#cans{width:200%;}

.opacity:hover {
  animation: transition 1.5s ease-in-out;
  animation-iteration-count: one;
}

@keyframes transition {
  0% { opacity:100%;}
  50% { opacity:0%; ;}
  100% { opacity:100%;;}
}

h1 {
  animation: transitions 1.5s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes transitions {
  0% { opacity:100%;}
  25% { opacity:0%;}
  50% { opacity:30%;}
  75% { opacity:0%;}
  100% { opacity:50%;;}
}
